.senioras{
    text-align: center;
    color: #35bdbc;
}
.miss-title{
    padding-top: 2vw;
    border-top: solid 1px #35bdbc;
}
.miss-title>h2{
    font-weight: 600;
}
.miss-title>h3{
    font-weight: 400;
}
.nosotras{
    width: 80%;
    margin: auto;
}
.miss-text>p{
    text-align: justify;
    font-size: 1.20vw;
    color: #808184;
    margin: 2vw 3vw;
}
